aside {
    background-color: rgba(100, 100, 100, 0.1);
    flex-basis: 20%;
    margin-right: 1em;
    padding: 0.2em;
    vertical-align: top;
}
h1{
    position:relative;
    left:auto;
}
h2.titul {
    font-size: 1.4em;
    margin: 0;
}
main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

main h2 {
    margin-top: 0;
}
section.comments {
    flex-basis: 78%;
    vertical-align: top;
}
.comments.firmas{
    margin-top:0;
}
.comms.correo {
    background-color: #612d62;
    color:white;
}
.commentaires .elnombre {
    box-shadow: 6px 3px 8px 1px rgba(0, 0, 0, 0.7);
    line-height: 1em;
    padding: 3px;
    position: absolute;
}
.commentaires .linea:nth-child(2n+1) {
    background-color: rgba(102,178,168,.8);
}
.commentaires .linea:nth-child(2n) {
    background-color: rgba(97,45,98,.8);
    color:white;
}
.commentaires .linea:nth-child(2n) h2.titul{
    color:white;
}
.firmas .cuadro {
    margin: auto;
    width: 95%;
}
.linea {
    border-top: 1px solid black;
    padding-top: 4px;
}
.linea {
    font-size: 0.8em;
    font-weight: normal;
}
.linea > div {
    flex-basis: 30%;
}
.linea {
    font-size: 0.8em;
    font-weight: normal;
}

.temas {
    text-decoration: underline;
    cursor:pointer;
}

span.ladat {
    display: block;
    font-size: 0.6em;
    line-height: 0.8em;
    margin: 1em 0 1em;
    text-align: center;
}
.commentary {
    line-height: 1.2em;
    padding-left: 1%;
    text-align:center;
}
p.answer {
    margin: auto;
    text-align: center;
}
p.answer span {
    color: gold;
    font-size: 0.9em;
    cursor:pointer;
    margin-bottom: 0;
    opacity: 0.8;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
}
p.answer span:hover{
    color:black;
    text-shadow: 1px 1px 1px gold;
}
@media all and (max-width: 60em) {
h2.titul{font-size:1em;}
.commentary{font-size:0.9em;}
}